.menu-open {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
  
  .menu-open-button {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background-color: #d73953;
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  .menu-line {
    margin: 2px auto;
    width: 12px;
    height: 2px;
    background: white;
  }
  
  .menu-item {
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.1rem;
    border-radius: 50%;
    background-color: #d73953;
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 8px;
  }
  
  .menu-open-button:hover {
    height: 2.7rem;
    width: 2.7rem;
    transition: 0.1s ease-out;
  }
  
  .menu-open-button:hover .menu-line-1 {
    margin-top: 15px;
    transition: 0.1s ease-out;
  }
  
  .menu-open-button:hover .menu-line {
    margin-top: 7px auto;
  }
  
  .menu-line-1 {
    margin-top: 14px;
  }
  
  .menu-open:checked ~ .menu-open-button,
  .menu-open:checked ~ .menu-item {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 16px;
  }
  
  .menu-open:checked ~ .menu-open-button > .menu-line-3 {
    display: none;
  }
  
  .menu-open:checked ~ .menu-open-button > .menu-line-1 {
    transform: rotate(45deg);
    margin-top: 20px;
    transition: transform 0.1s ease-out, margin 0.1s ease-out;
  }
  
  .menu-open:checked ~ .menu-open-button > .menu-line-2 {
    transform: rotate(-45deg);
    margin-top: -4px;
    transition: transform 0.1s ease-out, margin 0.1s ease-out;
  }
  
  .menu-open:checked ~ .menu-item {
    display: flex;
  }
  
  .menu-open:checked ~ .menu-item:hover {
    background-color: white;
    color: #d73953;
    border: 1px solid #d73953;
  }